*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

#selector{
width: 50%;
margin-left: 25%;
}


h3{
    margin-top: 7%;
    text-align: center;
}
h6{
    text-align: center;
}

.card-group{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.altura{
    height: 30%;
}
/* imagen campeon */
.campeon{
    height: 60%;
}
/* imagen contrincante */
.contrincante{
    height: 60%;
}
.dos{

}
.card-body{
    flex: auto;
}
.texto_bajo{
    font-size: 1em;
}

.dentro_selector {
    margin-top: 1%;
    text-align: center;
}
.border_left{
    margin: 30%;
}

/* mediaquery para iphone xs */
@media only screen and (device-width : 375px) and (device-height : 812px) {
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

#selector{
width: 50%;
margin-left: 20%;

}
h3{
    margin-top: 20%;
    text-align: center;
}
h6{
    margin-top: 30%;
}
.dentro_selector {
    margin-top: 10%;
    text-align: center;
}
}

/* Media queries ipad pro*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }
    
    #selector{
    width: 50%;
    margin-left: 20%;
    
    }
    h3{
        margin-top: 20%;
        text-align: center;
    }
    .dentro_selector {
        margin-top: 10%;
        text-align: center;
    }
}